{{>header}}
{{>navbar}}
<div class="mx-auto text-center h-100" style="height: 100vh;">
    <h1 style="font-size: 80px;">
        <span style="color: red">4</span>
        <span style="color: rgb(96, 96, 96)">0</span>
        <span style="color: red">4</span>
    </h1>
    <h4>Page Not Found</h4>
    <a href="/" class="btn btn-outline-warning">Home</a>
</div>
{{>footer}}