{{>header}}
{{>navbar}}
<section class="container my-3">
    <h4 class="text-center">add Task</h4>
    <div class="row">
        <div class="col-md-12">
            <form class="mx-auto w-50" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">title</span>
                    <input type="text" class="form-control" placeholder="title" name="title" value="{{task.title}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">content</span>
                    <input type="text" class="form-control" placeholder="content" name="content"
                        value="{{task.content}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">date</span>
                    <input type="date" class="form-control" placeholder="date" name="date" value="{{task.date}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">status</span>

                    <input type="checkbox" class="form-check-input mx-1" placeholder="date" {{#if
                        task.status}}checked{{/if}} value="{{task.status}}" name="status">
                </div>
                <button type="submit" class="btn btn-outline-primary">update task</button>
            </form>
        </div>

    </div>

</section>
{{>footer}}